page-home {
    .avt{
        position: absolute;
        left: 50%;
        top:40%;
        border-radius: 50%;
        height: 100px;
        width: 100px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
   
    }
    .img{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../assets//imgs/b8f47d29d338a1cbc032efb7eac62cf0.jpg");
        height: 40%;
        width: 110%;
        margin-left: -5%;
        margin-top: -5%;
        background-repeat: no-repeat;
        background-size: cover
    }
    h1,p{
        position: relative;
        top:11%;
        text-align: center;
        margin: 1%
    }
    .small{ position: relative;
        top:5%;
        text-align: center;
        font-size: 10px;
        
    }
    .star{
        text-align: center;
        color: yellow;
        position: relative;
        top: 8%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        margin-top: 6%
    }
    ion-list{
        position: relative;
        top:7%;
    }
    ion-label{
        color: rgb(128, 0, 43);
        font-size: 20px;
        font-style: bold
    }
    h6{
        position: relative;
        bottom: -5%;
        color: rgb(128, 0, 43);
    }
    .round{
       
        border-radius: 100px;
        background-color: rgb(128, 0, 43);
        height: 28px;
        width: 28px;
    }
    .snd{
        font-size: 90%
    }
   

}
